In [1]:
import sklearn
import numpy as np
import pandas as pd
import random
import math
import pickle

In [2]:
# find distinct gentres in different movies
def find_genres(movie_ratings):
    # listing all genres from each row
    genres = movie_ratings['genres'].str.split("|")
    all_genres = []
    for genre in genres:
        all_genres.extend(genre)

    # taking only unique genres from all_genres listed
    distinct_genres = set(all_genres)
    return distinct_genres

In [3]:
movie_ratings = pd.read_csv("./datasets/movie_ratings.csv")

In [4]:
genre_list = list(find_genres(movie_ratings))
genre_list

['Documentary',
 'Adventure',
 'Action',
 'Children',
 'Fantasy',
 'Drama',
 'IMAX',
 'Horror',
 'Romance',
 'Western',
 'Crime',
 'War',
 'Musical',
 'Sci-Fi',
 'Mystery',
 'Comedy',
 'Film-Noir',
 'Animation',
 'Thriller']

In [5]:
print(type(genre_list))

<class 'list'>

In [6]:
# Function to find ONE HOT ENCODING
#genre_list = ['Action', 'Adventure', 'Animation','Children','Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

def one_hot_encoding(genres):
    genres = genres.strip().split("|")
    OHE=[0]*len(genre_list)
    for i in range(len(genre_list)):
        # place 1 if the movie has that genre
        if genre_list[i] in genres:
            OHE[i] = 1
            
    return OHE

In [ ]:

OHE_df = pd.DataFrame(columns = genre_list )
# find OHE for every movie in movie ratings
for i, row in movie_ratings.iterrows():
    OHE = [one_hot_encoding(row["genres"])]
    OHE_df = OHE_df.append(pd.DataFrame( OHE, 
               columns=genre_list),
               ignore_index = True)

In [15]:
# combine the encoding for genres to movie ratings
mv_df = movie_ratings.copy()
data = mv_df.join(OHE_df)

In [16]:
# Rearrange columns to place rating to the end of the dataframe
col = ['userId', 'movieId', 'title', 'genres', 'year', 'Action',
       'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'rating']
data = data[col]
data

,userId,movieId,title,genres,year,Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating
0,100351,1277,Cyrano de Bergerac (1990),Comedy|Drama|Romance,1990,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,3.5
1,75251,1277,Cyrano de Bergerac (1990),Comedy|Drama|Romance,1990,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,4.0
2,130058,1277,Cyrano de Bergerac (1990),Comedy|Drama|Romance,1990,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,4.0
3,157362,1277,Cyrano de Bergerac (1990),Comedy|Drama|Romance,1990,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,4.0
4,113443,1277,Cyrano de Bergerac (1990),Comedy|Drama|Romance,1990,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353252,133277,4172,Simon Magus (1999),Drama|Fantasy|Mystery|Romance,1999,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,5.0
353253,68270,1708,Ill Gotten Gains (1997),Drama,1997,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.0
353254,2177,7726,Boy Meets Girl (1998),Comedy|Romance,1998,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,3.5
353255,90050,2172,"Strike! (a.k.a. All I Wanna Do, The Hairy Bird...",Comedy|Drama,1998,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,4.0
353256,409,6061,Kedma (2002),Drama|War,2002,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,4.0

In [17]:
data.to_csv('./datasets/Data_OHE.csv')