In [18]:
import pandas as pd
import math
from sklearn import linear_model
import os

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from joblib import dump, load

In [4]:
data = pd.read_csv(".\datasets\Data_OHE.csv", index_col = 0)

In [5]:
data.head()

,userId,movieId,title,genres,year,Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating
0,100351,1277,Cyrano de Bergerac (1990),Comedy|Drama|Romance,1990,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,3.5
1,75251,1277,Cyrano de Bergerac (1990),Comedy|Drama|Romance,1990,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,4.0
2,130058,1277,Cyrano de Bergerac (1990),Comedy|Drama|Romance,1990,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,4.0
3,157362,1277,Cyrano de Bergerac (1990),Comedy|Drama|Romance,1990,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,4.0
4,113443,1277,Cyrano de Bergerac (1990),Comedy|Drama|Romance,1990,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,4.5

# Features selection for using as input attributes and output in regression

In [8]:
X = data[['year', 'Action', 'Adventure', 'Animation','Children','Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]
y = data [['rating']]

In [9]:
# Splitting into training and testing dataset for regression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [10]:
X_train

,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
247639,1984,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
99151,1992,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0
190161,1984,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
74118,1999,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
320771,1953,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119879,1999,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0
259178,1996,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
131932,1998,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
146867,1964,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,0
121958,1996,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0

In [11]:
y_test

        rating
124244     4.0
25677      4.0
166567     5.0
117225     5.0
215784     4.0
...        ...
210201     4.0
222134     5.0
257408     4.0
31952      4.0
330192     4.5

[116575 rows x 1 columns]

# Linear Regression

In [12]:
# FIt the model
reg_model = LinearRegression().fit(X_train, y_train)

In [19]:
#Save the model
if not os.path.isfile("./model/reg_pred_model.joblib"):
    dump(reg_model, './model/reg_pred_model.joblib')

In [20]:
# Find model accuracy
accuracy = round(reg_model.score(X_test, y_test)* 100, 2)
print(accuracy)

2.39

In [21]:
y_pred = reg_model.predict(X_test)

In [22]:
from sklearn.metrics import mean_squared_error
MSE = mean_squared_error(y_test, y_pred)
RMSE = math.sqrt(MSE)
print("MSE = ", MSE, "RMSE= ", RMSE)

MSE =  0.27365715103542204 RMSE=  0.5231225009836816

# Ridge regression

In [24]:
# FIt the model
ridge_model = linear_model.Ridge().fit(X_train, y_train)
#Save the model
if not os.path.isfile("./model/ridge_pred_model.joblib"):
    dump(ridge_model, './model/ridge_pred_model.joblib')
# Find model accuracy
accuracy = round(ridge_model.score(X_test, y_test)* 100, 2)
print(accuracy)

y_pred = ridge_model.predict(X_test)
MSE = mean_squared_error(y_test, y_pred)
RMSE = math.sqrt(MSE)
print("MSE = ", MSE, "RMSE= ", RMSE)

2.39
MSE =  0.2736571462712728 RMSE=  0.5231224964301122

# Lasso regression

In [25]:
# FIt the model
lasso_model = linear_model.Lasso(alpha=0.1).fit(X_train, y_train)
#Save the model
if not os.path.isfile("./model/lasso_pred_model.joblib"):
    dump(lasso_model, './model/lasso_pred_model.joblib')
# Find model accuracy
accuracy = round(lasso_model.score(X_test, y_test)* 100, 2)
print(accuracy)


y_pred = lasso_model.predict(X_test)
MSE = mean_squared_error(y_test, y_pred)
RMSE = math.sqrt(MSE)
print("MSE = ", MSE, "RMSE= ", RMSE)

1.17
MSE =  0.2770514720169627 RMSE=  0.5263567915558445